@model List<WorkListDto>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container my-2"> 
    <div class="text-end my-2 ">

        <a class="btn btn-dark btn-sm" asp-action="Create" asp-controller="Home"> Yeni Borç Ekle</a>
    </div>
    <table class="table table-hovered table-bordered table-sm">
        <tr>
           @* <th>#</th>*@
            <th> Kişi Ve Borç</th>
            <th> Durum</th>
            <th>İşlem</th>


            
        </tr>
        @foreach(var work in Model)
        {
           <tr>
            @*    <td> @work.Id</td>*@
            <td>@work.Definition</td>
             <td> @(work.IsCompleted?"Ödedi":"Ödemedi")</td>
             <td>
               <a asp-action="Update" asp-controller="Home"  class= "btn btn-warning btn-sm" asp-route-id="@work.Id"> Güncelle </a>
               <a asp-action="Remove" asp-controller="Home" class="btn btn-danger btn-sm" asp-route-id ="@work.Id" > Sil</a>
             </td>
             
        </tr> 
        }
        

    </table>

</div>