@using BankApp.Web.Data.Entities;

@model List<User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>İndex sayfası</p>

<table class="table">
    <tr> 
        <th> ID</th>
        <th> Ad</th>
        <th> Soyad</th>
        <th> Hesap</th>
    </tr>
    @foreach(var item in Model)
    { 
    <tr>
        <td>@item.Id </td>
        <td> @item.Name</td>
        <td> @item.Surname</td>
            <td> <getBankAccount user-id="@item.Id"> </getBankAccount></td>
            <td>
                <a class="btn btn-info" asp-action="Create" asp-controller="Account" asp-route-id="@item.Id" >Yeni Hesap Oluştur </a>
                <a class="btn btn-dark"   asp-action="GetByUserID" asp-controller="Account" asp-route-id = "@item.Id" > Hesaplara Git</a>
            
            </td>

    </tr>
    }

</table>