
@model List<UserListModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>İndex sayfası</p>

<table class="table">
    <tr> 
        <th> ID</th>
        <th> Ad</th>
        <th> Soyad</th>
        <th> Hesap</th>
    </tr>
    @foreach(var item in Model)
    { 
    <tr>
        <td>@item.Id </td>
        <td> @item.Name</td>
        <td> @item.Surname</td>
            <td> <getBankAccount user-id="@item.Id"> </getBankAccount></td>
            <td><a class="btn btn-info" asp-action="Create" asp-controller="Account" asp-route-id="@item.Id" >Yeni Hesap Oluştur </a> </td>
    </tr>
    }

</table>